*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(homepagebg.jpeg);
    background-size: cover;
    background-position: center;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    width:100px;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style:none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    outline:none;
    border:none;
    background: transparent;
    cursor: pointer;
    
}
nav ul li a:hover{
    color: aqua;
}
a{
    text-decoration: none;
    color:white;
    font-size:28px;
}
.middle{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}
.abouthead h1{
    text-align: center;
    color: white;
    font-style: italic;
    padding-top: 20px;
}
h2{
    color: white;}
.abouthead p{
    text-align:justify;
    color: white;
     padding:20px;
     margin:5px;
}
.section-1{
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2%;   
    
}
.block-1{
    color:black;
    background-color: white;
    text-align: justify;
    width:33.3%;
    float: left;
}
.block-2{
    color:black;
    background-color: white;
    text-align: justify;
    width:33.3%;
    float: left;
}
.block-3{
    color:black;
    background-color: white;
    text-align: justify;
    width:33.3%;
    float: left;
}

h2{
   text-align: center;
   font-style: italic ;
}
.section-1 p{
    display:flex;
    color:black;
    align-content:space-between;
}
.section-2{
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    
}

.section-2 p{
    display: inline-flex;
    color:black;
    align-content:space-between;
    
}
.block-4{
    color:black;
    background-color: white;
    text-align: justify;
    width:33.3%;
    float: left;
}
.block-5{
    color:black;
    background-color: white;
    text-align: justify;
    width:33.3%;
    float: left;
}
.footer {
    background:transparent;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
 .info{
    margin:0;
    padding:0;
    }
    .sociallinks{
        display:flex
        
        
    }
    .sociallinks ul{
        display: flex;
        width:300px;
        height: 30px;
        margin: auto;
        
        
    }
    .socialitem{
        list-style: none;
    }
    .socialitem a{
        padding: 8px 20px;
        font-size: 15px;
        color:white;
        width:300px;
        height: 30px;
        margin: auto;
        
    
    }
    .quicklinks{
        display: flex;
        justify-content: center;
    }
    .quicklinks ul{
        display: flex;
        
    }
    .quicklinks ul li a{
        font-size: 15px;
        
    }
    .quickitems{
        list-style: none;
        color: white;
    }
    .quickitems{
        text-decoration: none;
        padding: 0px 15px;
        font-size: 15px;
        justify-items: center;
    }
    .quickitems a{
        color:white;

    }
 
.bottom{
    padding:10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
